<h1>Welcome to Feddit!</h1>
<h4>The hippest place to see who's feeding what and what who is!</h4>
<h5>Posts:</h5>
<%= link_to "Add Post", :new_post %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, [:post, id: post.id] %>
      <%= truncate(post.link) %>
      <%= post.votes %>
      <%= link_to "Edit", [:edit_post, id: post.id] %>
      <%= link_to "Delete", [:post, id: post.id], method: 'delete', data: {confirm: 'Are you fed up with this post?'} %>
    </li>
  <% end %>
</ul>
